<footer class="text-center p-3 bg-dark text-white">
    <p class="mb-1">&copy; 2025 All rights reserved</p>
    <div class="social-icons">
        <a class="text-white me-2" href="https://www.tiktok.com/@neovaclean8?_t=ZS-8txSZndHTfU&_r=1" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-tiktok fa-lg"></i></i></a>
        <a class="text-white me-2" href="https://www.instagram.com/neovaclean?igsh=djg1eWhzMXV3dWdp" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram fa-lg"></i></a>
    </div>
</footer>